@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
  }
}
@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }
}
@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 400px;
  }
}

body {
  font-family: 'Lora', serif;
  /*background-image: linear-gradient(180deg, transparent 70%, rgba(33, 7, 107, 0.2) 0), url("https://images.unsplash.com/photo-1542831371-32f555c86880?ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80");*/
  background-color: grey;
  background-size: cover;
  background-color: #d0dae2;
  margin: 0 auto;
  text-align: center;
}


h1, h2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  line-height: 20px;
  color: #1A4330;
  margin-bottom: 15px;
}
h3 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  line-height: 20px;
  padding: 20px;
  color: #1A4330;
  margin: 10px 0;
}

.avatar {
    border-radius: 100px;
    width: 200px;
}

h1 {
  font-size: 35px;
}

ul {
  padding: 0;
}

li {
  list-style-type: none;
  display: inline;
  font-size: 1em;
  margin: 0 10px;
}
a {
  color: #21076b;
  font-size: 1.25em;
  text-decoration: none;
}

i {
  color: grey;
  font-size: 3em;
}

/* .btn-green {
  background-color: #bcf7bb;
  padding: 7px 30px;
  border-radius: 50px;
  box-shadow: 2px 2px lightgrey;
  opacity: 0.7;
  margin: 10px 0;
} */

.container {
  padding: 0 0;
  max-width: 700px;
  /*background-color: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.3)), white;*/
}

li:hover .spinner {
  animation-name: spin;
  animation-duration: 2500ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

li:hover .spinner-reverse {
  animation-name: spin_reverse;
  animation-duration: 2500ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

li:active .spinner-fast {
  animation-name: spin_reverse;
  animation-duration: 250ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  transition: 3s;
  opacity: 0.1;
  width: 5000px;

}


/*li:hover .spinner {
  animation-duration: 999999999999ms;
}

li:hover .spinner-reverse {
  animation-duration: 999999999999ms;*/
}

.social h2 {
  margin: 0;
}

.content {
  background-color: white;
  padding: 25px;
  border-radius: 10px;
}

.projects {
  background-color: white;
  border-radius: 10px;
}

.social {
  background-color: #ffffff;
  padding: 1px;
  margin-top: 12px;
  border-radius: 10px;
}

a:hover {
  color: #42946C;
}

.button {
  display: inline-block;
  border-radius: 8px;
  background-color: hsla(152, 44%, 18%, 0.62);
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 18px;
  padding: 15px;
  width: 200px;
  transition: all 0.9s;
  cursor: pointer;
  margin: 5px;
}

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

@keyframes spin_reverse {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(-360deg);
    }
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.9s;
}

.align-right {
  text-align: right;
}
.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 1s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

.card {
  background-color: white;
  border-radius: 10px;
  margin-bottom: 20px;
  margin: 0 auto;
  float: none;
  max-width: 400px;
}

.card-image {
  background-image: url('./images/c-balance.png');
  background-size: 100% 120px;
  background-position: center bottom;
  height: 120px;
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
